bcrypt==4.0.0
black==19.10b0
fastapi==0.81.0
flake8==4.0.1
passlib==1.7.4
peewee==3.14.8
peewee-migrate==1.4.8
pre-commit==2.19.0
psycopg2-binary==2.9.3
pylint==2.14.3
python-dotenv==0.19.2
python-jose==3.3.0
python-multipart==0.0.5
requests==2.27.1
uvicorn==0.15.0
